{mode, max}.

{duration, 1}.
{concurrent, 50}.

{driver, basho_bench_driver_rets}.

{code_paths, [
              "/usr/er/nuwa",
              "/usr/er/repobj"
              ]}.

{key_generator, {uniform_int, 1000000}}.

{value_generator, {fixed_bin, 2048}}.

{rets_hosts, [
              '10.1.1.3',
              '10.1.1.4',
              '10.1.1.5',
              '10.1.1.6',
              '10.1.1.7',
              '10.1.1.8',
              '10.1.1.9',
              '10.1.1.10',
              '10.1.1.11',
              '10.1.1.12',
%              '10.1.1.13',
%              '10.1.1.14',
%              '10.1.1.15',
%              '10.1.1.16',
%              '10.1.1.17',
%              '10.1.1.18',
%              '10.1.1.19',
%              '10.1.1.20',
%              '10.1.1.21',
%              '10.1.1.22',
%              '10.1.1.23',
%              '10.1.1.24',
%              '10.1.1.25',
              '10.1.1.26'
             ]}.

{rets_mynode, ['rets_bench@10.1.1.2', longnames]}.

{rets_protocol, quorum}.

{rets_repopts, [
                shuffle
               ]}.

{rets_etsopts, []}.

{operations, [{write, 1}]}.
